<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  
  <!--INSERIMOS A STRING DE CONNECTION-->
<configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    <add name="INCUBADORA4Entities" connectionString="metadata=res://*/banco.csdl|res://*/banco.ssdl|res://*/banco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NATHAN;initial catalog=INCUBADORA4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <connectionStrings><add name="INCUBADORAEntities" connectionString="metadata=res://*/banco.csdl|res://*/banco.ssdl|res://*/banco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIIH-TELLES;initial catalog=INCUBADORA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="INCUBADORAEntities" connectionString="metadata=res://*/banco.csdl|res://*/banco.ssdl|res://*/banco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIIH-TELLES;initial catalog=INCUBADORA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
     <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>

    <!--authentication: DEFINIMOS QUE PARA ACESSAR A ACTION
    O USUARIO DEVE SE LOGAR.
    MODE: DEFINIMOS A FORMA QUE O USUARIO IRA SE LOGAR
    NESTE UMA VALIDAÇÃO VIA BANCO DE DADOS-->
    <authentication mode="Forms">
      <!--FORM: SEMPRE QUE O USUARIO TENTAR BURLA A NOSSA 
      APLICAÇÃO IREMOS REDIRECIONAR PARA A TELA LOGIN.
          TIMEOUT: POR PADRÃO O TEMPO MINIMO PARA REDICIONAR
          DE AUTOMATICA PARA A TELA DE LOGIN É DE 30 MIN.-->
      <forms loginUrl="Contato/Login" timeout="30"></forms>
    </authentication>
    
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
